.zselect {
        margin: 0 0 1rem 0;
        -webkit-appearance: none !important;
        background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
        background-position: 97% center;
        /*background-position-x: 97%;
        background-position-y: center;*/
        border: 1px solid #cccccc;
        padding: 0.70rem;
        font-size: 0.77778rem;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        
    }
.zselect div {
    display: none;
}
.zselect ul.topics {
        display:block;
        position:absolute;
        background-color:#fafafa;
        border: 1px solid #cccccc;
        border-top:none;
        padding:0;
        
        margin:11px 0 0 -0.76rem;
        z-index:10;
        list-style-type: none;
}
.zselect span.zmshead{
        font-size: 0.9rem;
}
.zselect ul.topicsli{
        padding:4px 0.70rem 0px 0.70rem;
        font-size:0.9rem;
}
.zselect ul.topicsli span{
        
        
}
.zselect ul.topicsli.disabled{
        color:#808080;
}
.zselect ul.topicsli:hover{
        background-color:#2672EC;
        color: #fff;
}
.zselect ul.topicsli.zmsfilter,
.zselect ul.topicsli.zmsfilter:hover,
.zselect ul.topicsli.filterResult,
.zselect ul.topicsli.filterResult:hover,
.zselect ul.topicsli.optgroup,
.zselect ul.topicsli.optgroup:hover{
        background-color:transparent;
        color: #000;
       
}
.zselect ul.topicsli.zmsfilter input{
        margin-bottom:0.3rem;
}
.zselect ul.topicsli input[type='checkbox']{ 
        padding:0;
        margin:0;
        
} 
.zselect ul.topicsli.filterResult{
        font-size: 0.8em;
}

.zselect ul.topicsli.optgroup{
    font-weight: bold;
    cursor:pointer;
}
.zselect ul.topicsli.selectall{}
.zselect ul.topicsli.deselectall{}